<div class="animated fadeIn" *ngIf="Churches">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5> <i class="fa fa-align-justify"></i> Church Lists</h5>
                <button type="button" class="btn btn-info pull-right " data-toggle="modal" (click)="largeModal.show()">
                   Add Church
                </button>
                <div class="form-group">
                  <input class="form-control col-sm-6" [(ngModel)]="term" placeholder="Search Churches here..." type="text">
                </div>
              </div>
          <div class="card-body">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                    <th>No</th>
                    <th>Church Name</th>
                    <th>Phone Number</th>
                    <th>Email Adress</th>
                    <th>Location</th>
                    <th>Denomination</th>
                    <th>Registered on</th>
                    <th>Edit</th>
                    <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let Church of Churches.data | filter :term; let i = index ;">
                    <td>{{i + Churches.from }}</td>
                    <td>{{Church.church_name}}</td>
                    <td>{{Church.phone_number}}</td>
                    <td>{{Church.email}}</td>
                    <td>{{Church.location}}</td>
                    <td>{{Church.denomination}}</td>
                    <td>{{Church.created_at}}</td>
                    <td>
                        <span class="badge badge-success"><a  data-toggle="modal" (click)="editModal.show(); onedit(Church)"><i class="fa fa-edit"></i>&nbsp;Edit</a></span>
                           </td>
                    <td *ngIf="Church.verified == false"> <span class="badge badge-danger" (click)="verifyModal.show(); onVerifyChurch(Church)">Unverified</span></td>
                    <td *ngIf="Church.verified == true"><span class="badge badge-success">Verified</span></td>
                </tr>
              </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li class="page-item" *ngIf="Churches.prev_page_url"><button class="page-link" (click)="getPaginatedChurch(Churches.prev_page_url)">Prev</button></li>
                    <li class="page-item active">
                        <a class="page-link" >{{Churches.current_page + '/' + Churches.last_page}}</a>
                      </li>
                    <li class="page-item" *ngIf="Churches.next_page_url"><button class="page-link" (click)="getPaginatedChurch(Churches.next_page_url)">Next</button></li>
                  </ul>
                </nav>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    </div>
    <!-- new Church form  -->
    <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-primary" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Church</h4>
              <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        <div class="modal-body">
           <div class="col-sm-12">
    <!--Card in the modal-->
             <div class="card">
                 <div class="card-header">
                    <strong>Church</strong>
                    <small>Registration FORM</small>
                  </div>
          <div class="card-body">
    <!--Form in the modal-->
         <form  (ngSubmit)="onSubmit(f)" #f="ngForm" enctype="multipart/form-data" method="post">
    
            
                 <div class="form-group">
                      <label  class="col-sm-6"></label>
                        <div class="form-group col-sm-9">
                          <label >Church Name</label>
                          <input type="text" class="form-control"  #churchName="ngModel" id="churchname" placeholder="Enter Church Name" [(ngModel)]="churchname" name="church_name" required>
                        <div *ngIf="!churchName.valid && churchName.dirty">
                            Church Name Required!
                        </div>
                        </div>
                      <label  class="col-sm-6"></label>
                        <div class="form-group col-sm-9">
                            <label >Description</label>
                            <input type="text" class="form-control" #desc="ngModel" id="description" placeholder="Enter Description here" [(ngModel)]="description" name="description" required>
                          <div *ngIf="!desc.valid && desc.dirty">
                            Description Required!
                          </div>
                        </div>
                      <label  class="col-sm-6"></label>
                        <div class="form-group col-sm-9">
                            <label >Denomination</label>
                                <select class="form-control" #deno="ngModel" id="denomination" placeholder="Enter Denomination here" [(ngModel)]="denomination" name="denomination" required>
                                       <!-- <option *ngIf="!denominations" value="no">no</option> -->
                                  <option *ngFor="let denomination of denominations" value="{{denomination.name}}">{{denomination.name}}</option>
                                    
                                </select>
                              </div>
                </div>  
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-8" for=""><h5>Location:</h5></label>
                    
                        <div class="form-group col-sm-12">
                            <label >Location</label>
                            <input type="text" class="form-control" #loc="ngModel" id="location" placeholder="Enter Location here" [(ngModel)]="location" name="location" required>
                          <div *ngIf="!loc.valid && loc.dirty">
                             Location Required!
                          </div>
                        </div>
                      <label  class="col-sm-2"></label>
                        <div class="form-group col-sm-12">
                            <label >Latitude</label>
                            <input type="text" class="form-control" #lat="ngModel" id="latitude" placeholder="Enter Latitude here" [(ngModel)]="latitude" name="latitude" required>
                          <div *ngIf="!lat.valid && lat.dirty">
                            Latitude Required!
                          </div>
                        </div>
                      <label  class="col-sm-2"></label>
                        <div class="form-group col-sm-12">
                            <label >Logitude</label>
                            <input type="text" class="form-control" #long="ngModel" id="longitude" placeholder="Enter Longitude here" [(ngModel)]="longitude" name="longitude" required>
                          <div *ngIf="!long.valid && long.dirty">
                              Longitude Required!
                          </div>
                        </div>
                    
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                    <label class="col-sm-8" for=""><h5>Adress:</h5></label>
                      <label  class="col-sm-2"></label>
                        <div class="form-group col-sm-12">
                            <label >Phone Number</label>
                            <input type="text" class="form-control" #phone="ngModel" id="phone_number" placeholder="Enter Phone Number here" [(ngModel)]="phone_number" name="phone_number" required>
                          <div *ngIf="!phone.valid && phone.dirty">
                            Phone Number Required!
                          </div>
                        </div>
                      <label  class="col-sm-2"></label>
                        <div class="form-group col-sm-12">
                            <label >Email</label>
                            <input type="email" class="form-control" #Email="ngModel" id="email" placeholder="Enter Email here" [(ngModel)]="email" name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                          <div *ngIf="!Email.valid && Email.dirty">
                            Email Required!
                          </div>
                        </div>
                </div>
                </div>
            </div>
                    <!-- <div class="form-group col-sm-5">
                          <label for="name">Add Church Pic</label>
                              <input  class="form-control" type="file" name ="name" id="name" [(ngModel)]="name">
      
                    </div> -->
                    
                    <div class="row">
                    <div class="form-control ">
                      <button type="submit"  class="btn btn-primary  btn-sm pull-right" (click)="largeModal.hide()"  [disabled] ="!f.valid">ADD</button>
                    </div>
                  </div>
            <!--submit button-->
    
                  <!--<button type="submit" (click)="addFile()" class="btn btn-primary">Upload</button>-->
         </form>
    
    
                 </div>
          </div>
      </div><!--/.col-->
    
            </div>
            <div class="modal-footer">
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Edit Church Form -->
    <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Church Edit</h4>
            <button type="button" class="close" (click)="editModal.hide() " aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <div class="col-sm-12">
               <div class="card">
                      <div class="card-header">
                        <strong>Churchs</strong>
                        <small>Edit FORM</small>
                      </div>
                 <div class="card-body">
   <!--edit modal form-->
          <form  (ngSubmit)="onupdate(edit)" #edit="ngForm" enctype="multipart/form-data" method="post">
            <div class="form-group">
              <label  class="col-sm-6"></label>
                <div class="form-group col-sm-9">
                  <label >Church Name</label>
                  <input type="text" class="form-control"  #churchName="ngModel" id="churchname" placeholder="Enter Church Name" [(ngModel)]="Churchnew.church_name" name="church_name" required>
                <div *ngIf="!churchName.valid && churchName.dirty">
                    Church Name Required!
                </div>
                </div>
              <label  class="col-sm-6"></label>
                <div class="form-group col-sm-9">
                    <label >Description</label>
                    <input type="text" class="form-control" #desc="ngModel" id="description" placeholder="Enter Description here" [(ngModel)]="Churchnew.description" name="description" required>
                  <div *ngIf="!desc.valid && desc.dirty">
                    Description Required!
                  </div>
                </div>
              <label  class="col-sm-6"></label>
                <div class="form-group col-sm-9">
                    <label >Denomination</label>
                        <select class="form-control" #deno="ngModel" id="denomination" placeholder="Enter Denomination here" [(ngModel)]="Churchnew.denomination" name="denomination" required>
                               <!-- <option *ngIf="!denominations" value="no">no</option> -->
                          <option *ngFor="let denomination of denominations" value="{{denomination.name}}">{{denomination.name}}</option>
                            
                        </select>
                      </div>
        </div>  
    <div class="row">
        <div class="form-group">
            <label class="col-sm-8" for=""><h5>Location:</h5></label>
            
                <div class="form-group col-sm-12">
                    <label >Location</label>
                    <input type="text" class="form-control" #loc="ngModel" id="location" placeholder="Enter Location here" [(ngModel)]="Churchnew.location" name="location" required>
                  <div *ngIf="!loc.valid && loc.dirty">
                     Location Required!
                  </div>
                </div>
              <label  class="col-sm-2"></label>
                <div class="form-group col-sm-12">
                    <label >Latitude</label>
                    <input type="text" class="form-control" #lat="ngModel" id="latitude" placeholder="Enter Latitude here" [(ngModel)]="Churchnew.latitude" name="latitude" required>
                  <div *ngIf="!lat.valid && lat.dirty">
                    Latitude Required!
                  </div>
                </div>
              <label  class="col-sm-2"></label>
                <div class="form-group col-sm-12">
                    <label >Logitude</label>
                    <input type="text" class="form-control" #long="ngModel" id="longitude" placeholder="Enter Longitude here" [(ngModel)]="Churchnew.longitude" name="longitude" required>
                  <div *ngIf="!long.valid && long.dirty">
                      Longitude Required!
                  </div>
                </div>
            
        </div>
        <div class="col-md-7">
            <div class="form-group">
            <label class="col-sm-8" for=""><h5>Adress:</h5></label>
              <label  class="col-sm-2"></label>
                <div class="form-group col-sm-12">
                    <label >Phone Number</label>
                    <input type="text" class="form-control" #phone="ngModel" id="phone_number" placeholder="Enter Phone Number here" [(ngModel)]="Churchnew.phone_number" name="phone_number" required>
                  <div *ngIf="!phone.valid && phone.dirty">
                    Phone Number Required!
                  </div>
                </div>
              <label  class="col-sm-2"></label>
                <div class="form-group col-sm-12">
                    <label >Email</label>
                    <input type="email" class="form-control" #Email="ngModel" id="email" placeholder="Enter Email here" [(ngModel)]="Churchnew.email" name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                  <div *ngIf="!Email.valid && Email.dirty">
                    Email Required!
                  </div>
                </div>
        </div>
        </div>
    </div>
            
              <button type="submit" class="btn btn-primary pull-left" (click)="editModal.hide()" [disabled] ="!edit.valid">Update Info</button>
          </form>
               <button class="btn btn-danger pull-right"  (click)="ondelete(); editModal.hide()">Delete Church</button>
      
                 </div>
          </div>
      </div><!--/.col-->
  
    </div>
    <div class="modal-footer">
    </div>
    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
      
    
    <!-- Verify Church form  -->
    <div bsModal #verifyModal="bs-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
      <div class="modal-body">
         <div class="col-sm-12">
  <!--Card in the modal-->
           <div class="card">
               <div class="card-header">
                  <button type="button" class="close" (click)="verifyModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  
                </div>
        <div class="card-body">
                      <label >Would You Like To Verify {{Churchnew.church_name}}?</label>
                      
               </div>
        </div>
    </div><!--/.col-->
  
          </div>
          <div class="modal-footer">
              <button  class="btn btn-primary pull-left" (click)="verifyModal.hide(); onVerify()">Yes</button>
              &nbsp;
              <button type="button" class="btn btn-default" (click)="verifyModal.hide()">No</button>

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
